/* Reset some default styles */
@import url('https://fonts.googleapis.com/css?family=Roboto:300');
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

/* Set up basic styles */


.App {
  text-align: center;
  padding: 20px;
  background-color: rgb(223, 206, 225); /* Requirement 1 */
}

.App-header {
  background-color: rgb(49, 49, 49); /* Requirement 2 */
  padding: 40px; /* Requirement 4 */
  margin: 25px 0;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgb(49, 49, 49);
  border-bottom: 0px;
}


.Nav-buttons {
  margin: 20px 0;
  background-color: rgb(49, 49, 49); /* Requirement 4 */
  padding: 10px 0; /* Requirement 4 */
}

.Nav-buttons button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: rgb(49, 49, 49);
  color: #f5e6e6;;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.Nav-buttons button:hover {
  background-color: #000000;
}

section {
  background-color: rgb(49, 49, 49); /* Requirement 2 */
  padding: 200px; /* Requirement 4 */
  margin: 20px 0;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #f5e6e6;
  color: #f5e6e6;

}

footer {
  margin-top: 20px;
  background-color:rgb(49, 49, 49);
  color: #f5e6e6;
  padding: 5px;
  border-radius: 5%;
}

.name-text {
  text-align: left; /* Align the text to the left */
  font-size: 50px; /* Adjust font size as needed */
  animation: slideInLeft 0.5s ease-in-out forwards; /* Apply animation */

  /* Other styles */
  margin: 20px 0;
  color: #f5e6e6;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}


/* Media query for smaller screens */
@media (max-width: 600px) {
  .Profile-picture {
    width: 100px;
    height: 100px;
  }
}




table {
  width: 100%;
  height: 70%;
  border-collapse: collapse;
  margin-top: 20px;
  font-family: Arial, sans-serif;
}

th, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #f5e6e6; /* Table Header Background Color */
  color: #555; /* Table Header Text Color */
}

tr:nth-child(even) {
  background-color: #151414; /* Alternate Row Background Color */
}

tr:hover {
  background-color: #0d0d0d; /* Hovered Row Background Color */
}
